body {
  margin-top: 0px;
  background: #f5f5f5;
}

.ui-w-100 {
  width: 100px !important;
  height: auto;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.user-view-table td:first-child {
  width: 9rem;
}

.user-view-table td {
  padding-right: 0;
  padding-left: 0;
  border: 0;
}

.text-light {
  color: #babbbc !important;
}

.card .row-bordered>[class*=" col-"]::after {
  border-color: rgba(24, 28, 33, 0.075);
}

.text-xlarge {
  font-size: 170% !important;
}

.btn-primary {
  background-color: #8da47e;
  border-color: #8da47e;
}

.btn-default {
  border-color: #8da47e;
}

.btn:hover {
  background-color: #466630;
  border-color: #466630;
}

.fa-check {
  color: #8da47e;
}

.open-button {
  background-color: #646861;
  border-color: #646861;
	color: white;
	padding: 3px 3px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	bottom: 23px;
	right: 28px;
  width: 100px;
  margin-bottom: 30px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
	display: none;
	position: absolute;
  /* margin-top: -100px; */
	margin-left: -50px;
  /* bottom: calc(5%); */
  top: calc(75%);
  left: calc(50% - 50px);
  /* bottom: 25px; */
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	background: none;
  }
  
  /* Add styles to the form container */
  .form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=date] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=date]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
	background-color: rgb(50, 144, 53);
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: rgb(162, 21, 21);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }